.box {
  padding: 50px 0 160px;
  background: linear-gradient(180.41deg, #000000 4.14%, rgba(0, 0, 0, 0.26) 19.52%, rgba(0, 0, 0, 0) 49.74%, rgba(0, 0, 0, 0) 76.71%, #000000 94.41%), linear-gradient(90.11deg, rgba(0, 0, 0, 0.9) 1.75%, rgba(0, 0, 0, 0.234) 18.47%, rgba(0, 0, 0, 0) 51.34%, rgba(0, 0, 0, 0.234) 80.65%, rgba(0, 0, 0, 0.9) 99.9%),  linear-gradient(180.41deg, #000000 4.14%, rgba(0, 0, 0, 0.26) 19.52%, rgba(10, 12, 12, 10) 49.74%, rgba(0, 0, 10, 20) 76.71%, rgba(10, 10, 10, 5) 94.41%), url("../image/box/bg.png");
  //z-index: -1;

  &__title {
    @include text(bold, 43px, 62px, #fff);
    text-align: center;
    margin-bottom: 27px;
  }
  &__subtitle {
    @include text(normal, 18px, 26px, #fff);
    text-align: center;
    margin-bottom: 100px;
  }
  &__content {
    &-card {
      //position: relative;
      //padding-bottom: 50px;
      background: rgba(196, 196, 196, 0.04);
      border: 3px solid #FFFF3F;
      box-sizing: border-box;
      box-shadow: 0 4px 40px rgba(255, 255, 63, 0.13), 0 4px 4px rgba(0, 0, 0, 0.59);
      border-radius: 25px;
      text-align: center;
      padding: 81px 0 55px;
      &_violet {
        background: rgba(196, 196, 196, 0.04);
        border: 3px solid #6625D6;
        box-sizing: border-box;
        box-shadow: 0 4px 40px rgba(80, 31, 164, 0.13), 0 4px 4px rgba(0, 0, 0, 0.59);
        border-radius: 25px;
      }
    }
    &-text {
      @include text(600, 25px, 36px, #fff);
      text-align: center;
    }
  }
  &__arrow_prev{
    position: absolute;
    top: 40%;
    //transform: translateY(80%);
    left: -80px;
    fill: white;
  }
  &__arrow_next{
    position: absolute;
    top: 40%;
    //transform: translateY(-50%);
    right: -80px;
  }

}

.owl-dots{
  margin-top: 60px;
}








