@import "../libs/owl/owl.carousel.min.css";
@import "../libs/owl/owl.theme.default.min.css";
@import "enhancers";
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Jost', sans-serif;
  margin: 0;
  box-sizing: border-box;
  font-style: normal;
  list-style-type: none;
  text-decoration: none;
}
body {
  background-color: black;
}
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}


.roadmap__img {
  width: 100%;
}
@import "header";
@import "meta";
@import "button";
@import "play";
@import "whats";
@import "box";
@import "weapons";
@import "metaverse";
@import "concept";
@import "token";
@import "roadmap";
@import "team";
@import "partners";
@import "footer";
@import "../css/team/team2";
@import "../css/about/about";
@import "../css/about/package";
@import "media";
@import "popup";